<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col size-lg="8" offset-lg="2">
            <ion-card>
              <ion-card-header>
                <ion-card-title class="contact-title">
                    Leader Information 
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p> 121, Clear Water Bay Road </p>
                <p> Clear Water Bay, Kowloon</p>
                <p> HONG KONG</p>
                <p>   <ion-icon name="call"></ion-icon> Tel: +852 1234 5678</p>
                <p>   <ion-icon name="print"></ion-icon> Fax: +852 8765 4321</p>
                <p>   <ion-icon name="mail"></ion-icon> Email:confusion@food.net</p>
              </ion-card-content>
              <ion-row>
                  <ion-col>
                    <button ion-button icon-left clear small class="ion-padding">
                        <ion-icon name="call" class="ion-padding-horizontal"></ion-icon>
                      <span>CALL</span>
                    </button>
                  </ion-col>
                  <ion-col>
                    <button ion-button icon-left clear small class="ion-padding">
                        <ion-icon name="mail" class="ion-padding-horizontal"></ion-icon>
                      <span>EMAIL</span>
                    </button>
                  </ion-col>
                </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
