<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4">
        <ion-card class="welcome-card" *ngIf="dish">
          <img src="{{BaseURL + dish.image}}" />
          <ion-card-header>
            <ion-card-title>
              <h1 class="ion-text-uppercase"> {{dish.name}} </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{dish.description}}</p>
          </ion-card-content>
        </ion-card>

        <div [hidden]="dish || dishErrMess">
            <ion-spinner></ion-spinner>
            <h4>Loading . . . Please Wait</h4>
          </div>
          <div *ngIf="dishErrMess">
            <h2>Error</h2>
            <h4>{{dishErrMess}}</h4>
          </div>
      </ion-col>
      <ion-col size-lg="4">
        <ion-card class="welcome-card" *ngIf="leader">
          <img src="{{BaseURL + leader.image}}" />
          <ion-card-header>
            <ion-card-title>
              <h1 class="ion-text-uppercase">{{leader.name}}</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{leader.description}}</p>
          </ion-card-content>
        </ion-card>

        <div [hidden]="leader || dishErrMess">
            <ion-spinner></ion-spinner>
            <h4>Loading . . . Please Wait</h4>
          </div>
          <div *ngIf="dishErrMess">
            <h2>Error</h2>
            <h4>{{dishErrMess}}</h4>
          </div>
      </ion-col>
      <ion-col size-lg="4">
        <ion-card class="welcome-card" *ngIf="promotion">
          <img src="{{BaseURL + promotion.image}}" />
          <ion-card-header>
            <ion-card-title>
              <h1 class="ion-text-uppercase">{{promotion.name}}</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{promotion.description}}</p>
          </ion-card-content>
        </ion-card>

        <div [hidden]="promotion || dishErrMess">
            <ion-spinner></ion-spinner>
            <h4>Loading . . . Please Wait</h4>
          </div>
          <div *ngIf="dishErrMess">
            <h2>Error</h2>
            <h4>{{dishErrMess}}</h4>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>